

<section class="main-section" id="service">
    <!--main-section-start-->
    <div class="container">
        <h2>About the game</h2>
        <h6></h6>
        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>Massive amount of content</h3>
                        <p>JoJo's Bizzared Adventure: Crusader Striker will incorporate the entire JoJo series from part 1 Phantom Blood all the way to Part 7 JoJolion, this will ensure the maximum amount of content for players to enjoy!</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>Built from the ground up</h3>
                        <p>The game will be built from the ground up using the Unity game engine, and input from fans like you!</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa fa-medkit"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>Early testing</h3>
                        <p>Sign up on the next page to become a tester, and to help us improve the game as much as possible</p>
                    </div>
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                <img src="img/jojopose.png" alt="">
            </figure>
            
            <figure class="col-lg-8 col-sm-6  text-center wow fadeInUp delay-02s">
                <br>
                <img src="img/unitylogo.png" alt="">
            </figure>

        </div>
    </div>
</section>